html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}


.logo {
    position: fixed;
    float: left;
    width: 5%;
    margin-left: 2%;
    margin-top: 1.6%;

}

nav {
    position: fixed;
    width: 100%;
    margin-top:0%;
    

}

nav ul {
    list-style: none;
    overflow: hidden;
    color: white;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-right: 3%;
    text-align: right;
    margin: 0;
    transition: .5s;

}

nav.black ul {
    background: white;
    box-shadow: 0px 10px 12px -2px rgba(0, 0, 0, .1);

}

nav ul li {
    display: inline-block;
    padding-right: 0%;
    padding-left: 4%;
}

nav ul li a {
    text-decoration: none;
    color: #3E424B;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.menu-icon {
    width: 100%;
    background: white;
    text-align: right;
    box-sizing: border-box;
    padding-top: 7%;
    padding-right: 7%;
    cursor: pointer;
    color: #7bc6d1;
    display: none;
}

* {
  box-sizing: border-box;
}

.content .grid-container{
    padding-top:9%;
    
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 500px 220px;
  grid-gap: 150px 1px;
  grid-template-areas: "work work side-info" "picture picture picture" "subtitle description description";
}

.work { 
    grid-area: work; 
    margin-left:20%;
    margin-top:2%;
}

.work h2{
    font-weight: 600;
    font-size: 25px;
    margin-top:2%
}
.work p{
    font-weight:300;
    width:100%;
}
.side-info { 
    grid-area: side-info;
    margin-top:4%;
    margin-left:20%;
}
.side-info h3{
    font-weight: 600;
    margin-bottom:0%;
    margin-top:4%;
    
}
.side-info p{
    font-weight:300;
    padding:0%;
    margin:0;
    font-size: 16px;
}

.picture { 
    grid-area: picture; 
}

.picture iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0%;
}


.subtitle { 
    grid-area: subtitle; 
    background-color: #ffee3c;
    outline: 1px solid #ffee3c;
    padding-top:10%;
   
}
.subtitle h2{
    font-weight: 300;
    font-size: 20px;
    margin-top:2%;
    margin-left:40%;
    
}
.description { 
    grid-area: description; 
    background-color: #ffee3c;
    outline: 1px solid #ffee3c; 
    padding-top:4%;
    
}

.description p{
    font-weight:300;
    font-size: 16px;
    width:80%;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 500px 880px;
  grid-gap: 1px 1px;
  grid-template-areas: "process-pic-1 process-pic-1 caption-1" "process-pic-2 process-pic-2 caption-2" "process-pic-3 process-pic-3 caption-3";
}

.process-pic-1 { 
    grid-area: process-pic-1; 
    margin-top:16%;
}

.process-pic-1 img{
    width:70%;
    margin-left:18%;
    
}

.process-pic-2 { 
    grid-area: process-pic-2; 
    
}

.process-pic-2 img{
     width:70%;
     margin-left:18%;
    padding-bottom: 0%;
}
.process-pic-3 { 
    grid-area: process-pic-3; 
}

.process-pic-3 img{
     width:60%;
     margin-left:23%;
}


.caption-1 { 
    grid-area: caption-1; 
    margin-top:33%;
}

.caption-1 p{
    
    font-weight:300;
    font-size: 16px;
    width:80%;
}

.caption-3 { 
    grid-area: caption-3; 
}

.caption-3 p{ 
    font-weight:300;
    font-size: 16px;
    width:60%;
    margin-top:3%;
}

.house-progress img{
    width:70%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.house-progress p{
    font-weight:300;
    font-size: 16px;
    margin-left:15%;
    margin-bottom:2%;
}

.walk-cycle img{
    width:70%;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10%;
}

.walk-cycle p{
    font-weight:300;
    font-size: 16px;
    margin-left:15%;
    margin-top:5%;
    margin-bottom: 0%;
}


h2{
    color: #3E424B;
}

h3{
    color: #3E424B;
}


.footer {
    padding-top: 3%;
    padding-bottom: 5.7%;
    padding-right:3%;
    background-color: #FFEE3C;
   
}

.footer img{
    float:right;
    width: 3%;
    padding-bottom:0%;
    margin-left:1%;
}


/* For presentation only, no need to copy the code below 
.grid-container2 * { 
border: 1px solid red;
}

